/* OffCampusApplications.css */

.scrollable-container {
    min-height: 100%;
    min-width: 80%;
    overflow-y: auto;
    background-color: #e7f1ff;
    border-radius: 20px;

}

.offcampus-applications-container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    text-align: center;
    overflow-y: auto;
}

.application-container {
    border: 1px solid #000000;
    padding: 15px;
    margin-bottom: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    /* Adjust the value for the desired level of rounding */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.off-campus-title {
    color: #2f4c75; /* Text color (blue) */
    font-size: 30px; /* Font size */
    font-weight: bold; /* Bold text */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Ensures typography consistency */
    text-align: center; /* Center-align text */
    padding: 10px; /* Add some padding */
    border-radius: 5px; /* Rounded corners */
  }

.application-container h2 {
    color: #426aa3;
    /* Adjust the color as needed */
    margin-bottom: 15px;
    /* Add margin to separate from other elements */
    text-align: center;
    /* Center the text horizontally */
}

.application-container h3 {
    color: rgb(0, 0, 0)
}

.application-container h4 {
    margin-top: 15px;
    color: #000000;
}

.application-container p {
    margin: 10px 0;
    color: #3f3f3f;
}

.view-application-button{
    padding: 8px 15px; /* Padding inside the buttons */
    font-size: 12px; /* Font size inside the buttons */
    color: #ffffff; /* Text color */
    background-color: #426aa3; /* Background color */
    border: none;
    border-radius: 5px; /* Rounded corners */
    text-decoration: none; /* No underline */
    cursor: pointer; /* Pointer cursor on hover */
    font-family: 'Segoe UI' Verdana; /* Ensures typography consistency */
}