.progress-bar-container {
    width: 100%;
    background-color: #e0e0e0;
    border-radius: 8px;
    height: 20px;
    margin: 20px 0;
    margin-top: 30px;
  }
  
  .progress-bar {
    height: 100%;
    background-color: #4caf50; /* Choose a color that fits your site's theme */
    border-radius: 8px 0 0 8px; /* Rounded corners on the left side */
    transition: width 0.3s ease-in-out;
  }
  
