/* Your existing styles */

/* Global styles for the form container */
.form-container {
    width: 50%;
    margin: 75px auto;
    max-height: 70vh;
    overflow-Y: auto;
    text-align: center;
    max-width: 1400px; /* Adjust the max-width as needed */
    padding: 30px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px 
}

/* Styles for step titles */
.step-title {
  font-size: 24px;
  margin-bottom: 10px;
  font-weight: bold;
  font-family: monospace;
}

/* Styles for step descriptions */
.step-description {
  font-size: 16px;
  margin-bottom: 20px;
  font-weight: bold;
  font-family: monospace;
}

/* Styles for input fields */
.input-field {
  width: 95%;
  padding: 10px;
  margin-bottom: 20px;
  font-weight: bold;
  font-family: monospace;
}

/* Styles for the next and back button */
.next-button {
  background-color: #2E2F5B;
  color: white;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  font-family: monospace;
  display: block;
  margin: 10px auto; /* Center the button horizontally with top and bottom margin */
}

.back-button {
  color: rgb(0, 0, 0);
  padding: 10px;
  cursor: pointer;
  font-family: monospace;
  position: absolute;
  top: 0;
  left: 0;
}

.file-input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translate(30%, 10%);
}

.image-preview {
  width: 100px; /* Set the desired width */
  height: 100px; /* Set the desired height */
  border-radius: 50%;
  object-fit: cover;
}

/* Styles for the date picker container */
.date-picker-container {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  font-family: monospace;
}

.react-datepicker-wrapper {
  width: 100%;
}

.react-datepicker {
  font-family: monospace;
  font-weight: bold;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  padding: 10px;
}

.react-datepicker__header {
  background-color: #2E2F5B;
  color: #EBE1E9;
}

.react-datepicker__month {
  margin: 0;
}

.react-datepicker__day-name,
.react-datepicker__day {
  width: 30px;
  line-height: 30px;
  margin: 2px;
}

.react-datepicker__day--selected {
  background-color: #8183ff;
  color: #EBE1E9;
}

.react-datepicker__day--keyboard-selected {
  background-color: #2E2F5B;
  color: #EBE1E9;
}

.react-datepicker__time-container {
  display: none !important;
}

.react-datepicker__today-button {
  border: none;
  background: none;
  color: #2E2F5B;
  cursor: pointer;
  font-size: 14px;
  margin-top: 10px;
}

.react-datepicker__today-button:hover {
  text-decoration: underline;
}


.form-row {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.form-row label {
  margin-right: 10px;
}

.end-label {
  margin-left: 10px;
}

.add-another-container {
  text-align: left;
  margin-bottom: 10px; /* Adjust as needed */
  margin-top: 10px; /* Adjust as needed */
}

.autocomplete-dropdown-container {
  position: absolute;
  width: 200px; /* Set your desired width */
  max-height: 150px; /* Set the maximum height for the dropdown */
  overflow-y: auto;
  z-index: 1;
  border-radius: 8px; /* Add border-radius for curved edges */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */
}

.location-search-input {
  width: 100%;
  box-sizing: border-box;
}

.autocomplete-dropdown-container div {
  font-size: 14px;
  padding: 8px;
  cursor: pointer; /* Set the cursor to pointer */
}

.input-group {
  display: flex;
  flex-direction: column;
  gap: 15px; /* Adjust the gap as needed */
}

.name-relation-group,
.input-group-phone-email {
  display: flex;
  gap: 10px; /* Adjust the gap as needed */
}

.name-relation-group label,
.input-group-phone-email label {
  text-align: right;
  margin-right: 10px;
}

.name-relation-group input,
.name-relation-group select,
.input-group-phone-email input {
  flex: 1;
  width: 100%;
}

.input-group-phone-email {
  align-items: flex-start; /* Align items to the top */
}

.input-group-phone-email label {
  text-align: right;
  margin-right: 10px;
}

.input-group-phone-email input {
  width: 100%;
}

/* Additional margin for the "Add Another" button */
.add-another-container {
  margin-top: 15px;
}

/* Additional margin for the error message */
.error-message {
  margin-top: 15px;
}

.reference-form-button,
.learn-more-button {
  display: inline-block;
  padding: 5px;
  border-radius: 10px;
  background: #2E2F5B;
  color: #EBE1E9;
  text-align: center;
  font-family: monospace;
  font-size: 10px; /* Adjusted font size for both buttons */
  line-height: 20px; /* Adjusted line-height for both buttons */
  text-decoration: none;
  cursor: pointer;
  transition: background 0.3s ease; /* Add a smooth background transition on hover */
}

.reference-form-button:hover,
.learn-more-button:hover {
  background-color: #3a3d92; /* Adjust hover color as needed */
}

/* Margin between buttons */
.reference-form-button + .learn-more-button {
  margin-left: 10px;
}


/* Listings */
.listing-item {
  background-color: #ffffff;
  width: 98%;
  overflow: auto;
  margin: -8px;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  font-family: monospace; /* Use monospace font-family */
}

.listing-item img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.listing-item h3 {
  margin-top: 10px;
  font-size: 24px; /* Adjust the font size as needed */
  font-weight: bold; /* Make the font bold */
  font-family: monospace; /* Use monospace font-family */
}

.listing-item p {
  margin: 5px 0;
  max-width: 110%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  font-size: 16px; /* Adjust the font size as needed */
  font-family: monospace; /* Use monospace font-family */
}

.listing-item .info {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.listing-item .address {
  font-weight: bold; /* Make the address bold */
}

.thumbnail-container {
  width: 100px; /* Adjust the width as needed */
  margin: 0 auto;
}

.modal-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;
  align-items: center;
  justify-content: center;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  max-width: 80%;
  max-height: 80%;
  overflow-y: auto;
}

.expanded-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8); /* Semi-transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Increased z-index value to place it in front of everything */
}

.expanded-image img {
  max-width: 90%; /* Limit image width for larger screens */
  max-height: 90vh; /* Limit image height for larger screens */
  object-fit: contain; /* Fit image within the container */
}

.close-button {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 24px;
  color: white;
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  z-index: 10001; /* Ensure the button is on top of the image */
}

/* Style for the close button */
.close-button:hover {
  color: rgb(151, 151, 151); /* Change button color on hover */
}