/* General styling */
.main-dashboard-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 73%; /* Adjust based on your header/footer */
  max-height: 73%; /* Adjust based on your header/footer */
  min-width: 92%; /* Adjust based on your header/footer */
  max-width: 92%; /* Adjust based on your header/footer */
  overflow-y: auto; /* Makes the container scrollable */
  padding: 20px;
  background-color: #ddebff; /* Light grey background */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Ensures typography consistency */

  /* Centering styles */
  position: absolute; /* Positioning relative to its first positioned (not static) ancestor element */
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%); /* This ensures the center of the element aligns with the center of its container */
  
  /* Additional styles for better appearance and centering */
  box-shadow: 0 2px 10px #00000071; /* Adds subtle shadow to sections */
  border-radius: 16px; /* Optional: Rounds the corners of the container */
}

/* Typography */
.main-dashboard-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

.main-dashboard-container h4 {
  text-align: center;
  margin-bottom: 10px;
}

/* RenterCard styling */
.renter-card, .add-user-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  text-align: center;
  margin-bottom: 10px;
}

.renter-avatar, .add-user-avatar {
  display: block;
  margin: 0 auto 10px;
  width: 60px;
  height: 60px;
  background-color: #ccc;
  border-radius: 50%;
  line-height: 60px;
  font-size: 24px;
  color: #fff;
}

.sublease-paper {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  margin-top: 20px;
  text-align: left;
}

/* Map styling */
.leaflet-container {
  height: 500px;
  width: 100%;
}

@media (max-width: 960px) {
  /* Adjustments for smaller screens */
  .leaflet-container {
    height: 300px;
  }
}
