/* Profile Container */
.profile-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 73%; /* Adjust based on your header/footer */
    max-height: 73%; /* Adjust based on your header/footer */
    min-width: 92%; /* Adjust based on your header/footer */
    max-width: 92%; /* Adjust based on your header/footer */
    overflow-y: auto; /* Makes the container scrollable */
    padding: 20px;
    background-color: #ddebff; /* Light grey background */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Ensures typography consistency */    gap: 2px;

    /* Centering styles */
    position: absolute; /* Positioning relative to its first positioned (not static) ancestor element */
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%); /* This ensures the center of the element aligns with the center of its container */
  
    /* Additional styles for better appearance and centering */
    box-shadow: 0 2px 10px #00000071; /* Adds subtle shadow to sections */
    border-radius: 16px; /* Optional: Rounds the corners of the container */
  }
/* Profile Image Container */
.profile-image-container {
  position: relative;
  margin-bottom: 20px;
}

.profile-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}

.edit-image-button {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 5px 10px;
  border-radius: 4px;
  background-color: #5c80ff;
  color: #fff;
  border: none;
  cursor: pointer;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.file-input-profile-page {
  display: none;
}

/* User Name Container */
.user-name-container {
  text-align: center;
  margin-bottom: 20px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.user-name {
  margin: 0;
  color: #333;
  
}

.username {
  font-style: italic;
  color: #666;
}

/* Buttons */
.view-public-profile-button,
.edit-info-button,
.main-dashboard-button,
.view-pdf-button {
  padding: 10px 15px;
  margin: 10px;
  border-radius: 4px;
  font-size: 17px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.view-public-profile-button {
  background-color: #6a8afd;
  color: #fff;
}

.edit-info-button {
  background-color: #475eb0;
  color: #ffffff;
}

.main-dashboard-button {
  background-color: #5c80ff;
  color: #ffffff;
}

.view-pdf-button {
  background-color: #181d2e;
  color: #fff;
}

.view-public-profile-button:hover,
.edit-info-button:hover,
.view-pdf-button:hover {
  opacity: 0.7;
}

/* Housing Preferences Container */
.housing-preferences-container {
  margin-top: 20px;
}

.housing-preferences-heading {
  color: #333;
  margin-bottom: 10px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
